.Cards{
    color:white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 4px solid white ; */
    /* padding: 1rem; */
    gap: 1rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

