.Name{
    font-size: 22px;
    color:rgb(226, 214, 214);
    align-items: center;
    height: 50px ;
  }
  
.ImgCard{
    height: 300px;
    /* ancho */
    width: 250px;
    border-radius: 15px;
    justify-content: center;
    padding-top: .5rem;
  }
  
.Card{
    position:relative;
    border-radius: 25px;
    height: 500px;
    width: 270px;
    background-color: rgba(59, 58, 58, 0.493);
    border: 1px solid rgba(155, 226, 40, 0.849);
    text-decoration: none;
  }

.Card:hover{
    border: 3px solid rgba(155, 226, 40, 0.849);
    background-color: rgba(59, 58, 58, 0.664);
    transition: background-color 50ms;
   } 

.SubTitle{
    font-size: 1.25rem;
    color: rgb(226, 214, 214);
  }