.AllForm{
    position:relative;
    background-color: rgba(179, 255, 0, 0.57);  
    background-image: url("../imagenes/pcman.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Form{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 1rem;
    gap: 2rem; 
    /* align-content: center; */
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    align-content: center;
    justify-content: center;   
}

.PlaceForm{
    position: relative;
    border-radius: 1.5rem;
    border: 6px solid rgba(4, 167, 4, 0.781);
    width: 400px;
    height: 3rem;
    border-radius: 1.5rem;
    border: 6px solid rgba(4, 167, 4, 0.781);
    color:rgba(47, 79, 79, 0.842);
    background-color:  rgba(240, 248, 255, 0.697) ;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    
}

.Danger{
    position: relative;
    border-radius: 1.5rem;
    border: 6px solid rgba(209, 4, 4, 0.801);
    width: 400px;
    height: 3rem;
    color:rgba(47, 79, 79, 1);
    background-color:  rgba(240, 248, 255, 0.697) ;
    font-size: 1.5rem;
    text-align: center;
}

.Contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    padding: 20px 10px; 

}
.BtnEnviar{ 
    background-color: rgb(253, 236, 0);
    border-radius: 1rem;
    font-size: 2rem;
    color:rgb(54, 54, 1);
    width: 250px;
    height: 60px;
    border: 4px solid rgb(51, 255, 0) ;  
}

.Titulo{
   
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: antiquewhite;

    border-radius: 1rem;
    border: none;
    padding: 0.25rem;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background: radial-gradient(circle, rgba(97, 120, 235, 0.6) 0%, rgba(4, 20, 107, 0.6) 74%);
}

.BtnEnviar:hover{
    background-color: rgb(251, 255, 1);
    color:black;
    border: 5px solid rgb(255, 0, 0) ;
}

.Rating{
    color: rgba(4, 167, 4, 0.781);
    font-size: 2rem;
    font-weight: bold;  
}

.NoRating{
    color:rgba(209, 4, 4, 0.801);
    font-size: 2rem;
    font-weight: bold;  
}

.Error{
    color:rgba(209, 4, 4, 0.801);
    justify-content: center;  
  border: 6px solid rgba(209, 4, 4, 0.801);
  background-color:  rgba(240, 248, 255, 0.697) ;
  border-radius: 1.5rem;
      
}

.CheckForm{
    position: relative;
    color: rgba(4, 167, 4, 0.781);
    justify-content: center; 
  border: 6px solid rgba(4, 167, 4, 0.781);
  background-color:  rgba(240, 248, 255, 0.697) ;
  border-radius: 1.5rem;
}

.Closter{
    padding-top: 0.25rem;
}

.RatingValue{
    background-color: aqua;
}

.Rait{
    border: 3px solid rgba(4, 167, 4, 0.781);
    background-color:  rgba(240, 248, 255, 0.697) ;
    border-radius: 10px;
}

output{
    width: 90px;

    background-color:  rgba(24, 140, 241, 0.697) ;
    border: 3px solid rgba(4, 167, 4, 0.781);
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.25rem;
    color: rgb(190, 188, 188);
    
}
/* .DescBox{
    position: relative;
    border-radius: 1.5rem;
    border: 6px solid rgba(4, 167, 4, 0.781);
    width: 400px;
    height: 15rem;
    color:rgba(47, 79, 79, 0.842);
    background-color:  rgba(240, 248, 255, 0.697) ;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    align-content: center;
    justify-content: center;
    
}

.NoDescBox{
    position: relative;
    border-radius: 1.5rem;
    border: 6px solid rgba(209, 4, 4, 0.801);
    width: 300px;
    height: 15rem;
    color:rgba(47, 79, 79, 1);
    background-color:  rgba(240, 248, 255, 0.697) ;
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
    justify-content: center;
} */