.Header{
     background-image: url("../imagenes/arcade.jpg"); 
     background-repeat: no-repeat;
     background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    padding: 20px 10px;  
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.05);
}

.Pcman{
    border-radius: 3.5rem;
}
/* 
.Back{
    background-image: url("../imagenes/arcade.jpg");
} */