.Lan{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 90%;
  height: 100%;
  margin:auto;
  justify-content: center;
}

.LanBtn, .load{
  position: relative;
  margin-bottom: 35rem;
  color: antiquewhite;
  z-index: 10;
  font-size: 30px;
  width: 400px;
  height: 60px;
  border-radius: 69px;
  background: #2d3143;
  box-shadow:  7px 2px 14px #1d1f2b,
              -7px -2px 14px #3d435b;
}

.LanBtn:hover{
  border-radius: 69px;
    background: #212431;
    box-shadow: inset 7px 7px 14px #15171f,
    inset -7px -7px 14px #2d3143;
}

.Maquinita{
  position:absolute;
  height: 70vh;
  margin-top: 0px;
  z-index: 1;
}