.Page{
    text-decoration: none;
    /* background-color: rgba(240, 248, 255, 0.74); */
    background: linear-gradient(90deg, rgba(179, 255, 0, 0.87) 0%, rgb(234, 233, 240) 50%, rgba(179, 255, 0, 0.87) 100%);
    /* border-left: 2px solid rgba(159, 159, 160, 0.87); */
    border: 1px solid rgba(179, 255, 0, 0.87);
    color :rgb(24, 4, 136);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin: 0.25rem; 
    margin-bottom: 1rem;
}

.Page:hover{
    border: 2px solid rgba(129, 255, 0, 0.87);
    background: linear-gradient(90deg, rgba(62, 105, 1, 0.87) 0%, rgb(164, 233, 240) 50%, rgba(62, 105, 1, 0.87) 100%);
}

