.Search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.Btn, .P-Search, .Search-Icon{
    border: 2px none rgba(159, 159, 160, 0.87);
    background-color:  rgba(240, 248, 255, 0.897) ;
    font-size: 1.5rem;
    text-align: start;
}

.P-Search{
    height: 3.4rem;
    width: 300px;
}

.Search-Icon{
    border-radius: 1.5rem 0 0 1.5rem ;
    height: 3.6rem;
}

.Btn{
    /* padding: 1rem; */
    background-color:  rgb(212, 214, 216 0.89) ;
    border-radius: 0 1.5rem 1.5rem 0;
    width: 100px;
    height: 3.6rem;
}
.Btn:hover{
    border: 2px solid rgba(159, 159, 160, 1.7);
    background-color:  rgba(204, 202, 202, 0.89);
}